h1 {
    text-align: center;
    color: white;
}

body {
    background-image: url(Konspirációs_képek/háttér.jpg);
    color: white;
    text-align: justify;
}

.keret{
    border: 2px blueviolet solid;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px;
}
.imgborder{
    border: 2px blueviolet solid;
    background-color: rgba(0, 0, 0, 0.6);
}

.kinzoimage{
    max-width: 300px;
}