body {
    background-image: url(Konspirációs_képek/háttér.jpg);
    color: white;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.keret{
    border: 2px blueviolet solid;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px;
    border-radius: 3px;
    min-height: 275px;
}
.imgborder{
    border: 2px blueviolet solid;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.kinzoimage{
    max-height: 250px;
}